* {
    text-rendering: geometricPrecision;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

::-moz-selection { /* Code for Firefox */
    color: #000;
    background: #E4E3DE;
}

::selection {
    color: #fff;
    background: #283a54;
}

.spanWordHidden, .spanWord, .spanRoot, .spanMeaning, .noSelect, .logoContainer, .rowNavHeader {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

/* all container */

.containerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding-top: 0px; /* test as 0px later */
    position: relative;
    background: #010408;
}

/* header nav */

.headerContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.rowQuranNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 60%;
    min-width: 350px;
}

.rowAyah {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 0.5px solid #444;
}

.currentAyah {
    flex: 1 0 0;
    color: #eff4f9;
    text-align: center;
    font-family: "Noto Naskh Arabic";
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 65px;
    max-width: 60%;
}

.rowNavHeader {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 29px;
    padding-left: 40px;
    gap: 7px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 0.5px solid #3a3a3a;
    border-top: 0;
    background: #0D1116;
    
}

.darkModeContainer {
    padding-top: 3px;
}

.btnDarkMode {
    display: flex;
    width: 15px;
    height: 13px;
    padding: 7px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0.5px solid #35383e;
    background: transparent;
    content: url("/images/iconDarkModeGray.svg");
    cursor: pointer;
}

.logoContainer {
    display: flex;
    padding: 12px 0px 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex: 1 0 0;
}

.navHeaderLogo {
    width: 169px;
    height: 23px;
    content: url("/images/alkitabikLogo_styleDark.svg");
}

.alkitabikLogomark {
    width: 28px;
    height: 28px;
    content: url("/images/alkitabikLogomark_styleDark_3x.png");
}

.alkitabikLogomarkFooter {
    width: 32px;
    height: 32px;
    padding-top: 150px;
    opacity: 20%;
    content: url("/images/alkitabikLogomark_styleDark_3x.png")
}

.dropdownSurahContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-left: 0.5px solid #3a3a3a;
    border-right: 0.5px solid #3a3a3a;
    background: #252525;
}

.btnDropdownSurah {
    display: flex;
    padding: 5px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.iconDropdownContainer {
    display: flex;
    padding-top: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rowVerseNav {
    display: flex;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 0.5px solid #3a3a3a;
    background: #0D1116;
}

.rowVerseNavFooterContainer {
    display: flex;
    align-items: flex-start;
    align-content: center;
    gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 350px;
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.rowVerseNavFooter {
    display: flex;
    padding: 10px 26px ;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 0.5px solid #000;
    background: #FFFFFF;
    width: 100%;
}

.btnVersePrev {
    display: flex;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 0.5px solid #383B42;
    background: #22262C;
}

.btnVerseNext {
    display: flex;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid #383B42;
    background: #22262C;
}

.btnDropdownVerse {
    display: flex;
    padding: 5px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dropdownVerseText {
    color: #CBD1D8;
    font-family: 'REM';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.iconVerseNext {
    background: url(/images/iconVerseNext_styleDark_3x.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    image-rendering: optimizeQuality;
    opacity: 80%;
}

.iconVersePrev {
    background: url(/images/iconVersePrev_styleDark_3x.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    image-rendering: optimizeQuality;
    opacity: 80%;
}

/* option elements styling */

select.dropdownSurahText {
    background-color: #252525;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px solid;
}

select.dropdownVerseText {
    background-color: #0D1116;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid;
}

.dropdownSurahText {
    color: #E7EDF3;
    font-family: 'REM';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 235.294% */
}

/* card settings */

.rowCardSettings {
    display: flex;
    padding: 0 0 40px 0;
    justify-content: center;
    align-items: center;
    gap: 0px;
    align-self: stretch;
    position: sticky;
    z-index: 100;
    top: 0px;
    background: #171B21;
    background: linear-gradient(180deg, rgba(23, 30, 37, 0.851) 0%, rgba(23, 30, 37, 0.50) 30%, rgba(23, 30, 37, 0.5) 55%, rgba(23, 30, 37, 0) 95%);
}

.cardSettingsFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32px
}

.cardSettingsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0px 0px 0px 0px;
    min-height: 29px;
}

.cardSettingsTitleBlock {
    display: flex;
    padding: 3px 14px 5px 14px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0px 0px 0px 0px;
    border-left: 0.5px solid #585858;
    border-right: 0.5px solid #585858;
    border-bottom: 1.5px solid #585858;
    background: #2d2f31;
}

span.cardSettingsTitle {
    color: #CBD1D8;
    font-family: "REM";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

span.cardButtonTitle {
    color: #CBD1D8;
    padding: 4px 14px 5px 14px;
    font-family: "REM";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cardSettingsBtnBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

/* .btnVisOn {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-right: 0.5px solid #000;
    border-bottom: 1.5px solid #000;
    border-left: 0.5px solid #000;
    background: #FFF;
    width: 16px;
    height: 16px;
} */

.btnVisOff {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 0px 0px 0px 0px;
    border-right: 0.5px solid #585858;
    border-bottom: 1.5px solid #585858;
    background: #1c2129;
}


/* main card container */

.containerCards {
    display: flex;
    width: 100%;
    padding: 0px 0 0 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    background: #171B21;
    padding-bottom: 200px;
}

.rowCard {
    display: flex;
    height: 475px;
    min-height: 475px;
    align-items: flex-start;
    align-content: center;
    gap: 24px;
    align-self: stretch;
    padding-left: 20%;
    padding-right: 20%;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.singleCard {
    display: flex;
    min-height: 475px;
    max-height: 525px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    min-width: 419px;
    max-width: 419px;
}

.cardRowTop {
    display: flex;
    height: 120px;
    max-height: 150px;
    align-items: flex-start;
    align-self: stretch;
    position: relative;
}

.cardRowBot {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.spanWord {
    z-index: 0;
    color: #CBD1D8;
    font-family: "Noto Naskh Arabic";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    position: relative;
}

.spanWordHidden {
    z-index: -1;
    color: #CBD1D8;
    font-family: "Noto Naskh Arabic";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    position: relative;
}


.spanRoot {
    z-index: 0;
    color: #CBD1D8;
    font-family: "Noto Naskh Arabic";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    position: relative;
}

.spanRootHidden {
    z-index: -1;
    color: #CBD1D8;
    font-family: "Noto Naskh Arabic";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    position: relative;
}

.spanMeaning {
    z-index: 0;
    flex: 1 0 0;
    align-self: stretch;
    color: #CBD1D8;
    font-family: "Libre Baskerville";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 171.429% */
    overflow-y: auto;
    max-height: 290px;
    max-width: 335px;
    position: relative;
}

.spanMeaningHidden {
    z-index: -1;
    flex: 1 0 0;
    align-self: stretch;
    color: #CBD1D8;
    font-family: "Libre Baskerville";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 171.429% */
    overflow-y: auto;
    max-height: 290px;
    max-width: 335px;
    position: relative;
}

.clickWord {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 3px 0px 0px 0px;
    border-top: 2px solid #585858;
    border-right: 0.5px solid #585858;
    border-left: 2px solid #585858;
    background: #252525;
}

.clickRoot {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0px 4px 0px 0px;
    border-top: 2px solid #585858;
    border-right: 2px solid #585858;
    background: #252525;
}

.clickMeaning {
    display: flex;
    padding: 24px 40px 32px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0px 0px 3px 3px;
    border-top: 0.5px solid #585858;
    border-right: 2px solid #585858;
    border-bottom: 2px solid #585858;
    border-left: 2px solid #585858;
    background: #252525;
}


/* hover styles */

btn:hover {
    cursor: pointer;
}

.clickWord:hover, .clickRoot:hover, .clickMeaning:hover {
    cursor: pointer;
    /* background-color: #eef5f5; */
    background-color: #2a2f36;
}

.btnVerseNext:hover, .btnVersePrev:hover {
    background-color: #2a2f36;
}

.btnVisOff:hover {
    background-color: #2a2f36;
    color: #fff;
}

.btnVisOff:hover span{
    color: #fff;
}

.clickWordHidden:hover, .clickRootHidden:hover, .clickMeaningHidden:hover {
    cursor: pointer;
    /* dot grid
    --dot-bg: #eef5f5;
    --dot-color: #888077;
    --dot-size: 1px;
    --dot-space: 4px; */
    background: radial-gradient(circle, #596464 10%, transparent 11%) 0% 0% / 0.35em 0.35em, radial-gradient(circle at left bottom, #596464 5%, transparent 6%), radial-gradient(circle at right bottom, #596464 5%, transparent 6%), radial-gradient(circle at left top, #596464 5%, transparent 6%), radial-gradient(circle at right top, #596464 5%, transparent 6%);
    background-size: .35em .35em;
    background-color:  #2f2d2d; /* Added this line */
}

.btnDarkMode:hover {
    display: flex;
    width: 15px;
    height: 13px;
    padding: 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0.5px solid #383B42;
    background: #2a2f36;
    content: url("/images/iconDarkMode.svg");
    cursor: pointer;
}


/* card interaction */


.clickWordHidden {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 3px 0px 0px 0px;
    border-top: 2px solid #585858;
    border-right: 0.5px solid #585858;
    border-left: 2px solid #585858;
    /* dot grid */
    /* --dot-bg: #f2f0ea;
    --dot-color: #000000;
    --dot-size: 1px;
    --dot-space: 4px; */
    background: radial-gradient(circle, #596464 10%, transparent 11%) 0% 0% / 0.35em 0.35em, radial-gradient(circle at left bottom, #596464 5%, transparent 6%), radial-gradient(circle at right bottom, #596464 5%, transparent 6%), radial-gradient(circle at left top, #596464 5%, transparent 6%), radial-gradient(circle at right top, #596464 5%, transparent 6%);
    background-size: .35em .35em;
    background-color: #2a2828; /* Added this line */
}

.clickRootHidden {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0px 4px 0px 0px;
    border-top: 2px solid #585858;
    border-right: 2px solid #585858;
    /* dot grid */
    /* --dot-bg: #f2f0ea;
    --dot-color: #000000;
    --dot-size: 1px;
    --dot-space: 4px; */
    background: radial-gradient(circle, #596464 10%, transparent 11%) 0% 0% / 0.35em 0.35em, radial-gradient(circle at left bottom, #596464 5%, transparent 6%), radial-gradient(circle at right bottom, #596464 5%, transparent 6%), radial-gradient(circle at left top, #596464 5%, transparent 6%), radial-gradient(circle at right top, #596464 5%, transparent 6%);
    background-size: .35em .35em;
    background-color: #2a2828; /* Added this line */
}

.clickMeaningHidden {
    display: flex;
    padding: 24px 40px 32px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0px 0px 3px 3px;
    border-top: 0.5px solid #585858;
    border-right: 2px solid #585858;
    border-bottom: 2px solid #585858;
    border-left: 2px solid #585858;
    /* dot grid */
    /* --dot-bg: #f2f0ea;
    --dot-color: #000000;
    --dot-size: 1px;
    --dot-space: 4px; */
    background: radial-gradient(circle, #596464 10%, transparent 11%) 0% 0% / 0.35em 0.35em, radial-gradient(circle at left bottom, #596464 5%, transparent 6%), radial-gradient(circle at right bottom, #596464 5%, transparent 6%), radial-gradient(circle at left top, #596464 5%, transparent 6%), radial-gradient(circle at right top, #596464 5%, transparent 6%);
    background-size: .35em .35em;
    background-color: #2a2828; /* Added this line */
}

.spanHidden {
    display:none;
}

/*
.clickWord {
    background: radial-gradient(circle, #000000 10%, transparent 11%),
    radial-gradient(circle at bottom left, #000000 5%, transparent 6%),
    radial-gradient(circle at bottom right, #000000 5%, transparent 6%),
    radial-gradient(circle at top left, #000000 5%, transparent 6%),
    radial-gradient(circle at top right, #000000 5%, transparent 6%);
    background-size: .35em .35em;
}*/


 /* Responsive, Phone */

 @media only screen and (max-width: 600px) {

    .btnDropdownSurah {
        display: flex;
        padding: 10px 32px; /* changed padding from 5px to 10px, mobile does not recognize padding in context of dropdown menu styling, so padding changes must be made to container of dropdown menu element. */
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .dropdownSurahText {
        font-family: 'REM';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 235.294% */
    }

    .rowAyah {
        display: flex;
        padding-top: 48px;
        padding-bottom: 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-bottom: 0.5px solid #000;
    }
    
    .currentAyah {
        flex: 1 0 0;
        text-align: center;
        font-family: "Noto Naskh Arabic";
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        max-width: 85%;
        color: #d9c3bb;
    }
    .spanMeaning {
        z-index: 0;
        flex: 1 0 0;
        align-self: stretch;
        font-family: "Libre Baskerville";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        overflow-y: auto;
        max-height: 290px;
        max-width: 266px;
        position: relative;
    }
    .spanMeaningHidden {
        z-index: -1;
        flex: 1 0 0;
        align-self: stretch;
        color: #000;
        font-family: "Libre Baskerville";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px; /* 171.429% */
        overflow-y: auto;
        max-height: 290px;
        max-width: 266px;
        position: relative;
    }
    .containerCards {
        display: flex;
        width: 100%;
        padding: 0px 0 0 0;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        flex: 1 0 0;
        padding-bottom: 150px;

    }
    .rowCard {
        display: flex;
        height: 475px;
        min-height: 475px;
        align-items: flex-start;
        align-content: center;
        gap: 24px;
        align-self: stretch;
        padding-left: 20%;
        padding-right: 20%;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .singleCard {
        display: flex;
        min-height: 475px;
        max-height: 525px;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
        min-width: 350px;
        max-width: 350px;
    }
    .rowCardSettings {
        display: flex;
        padding: 0 0 40px 0;
        gap: 0px;
        align-self: stretch;
        z-index: 100;
        flex-direction: column;
        position: sticky;
        top: 0px;
        z-index: 100;
        /* / background: linear-gradient(180deg, rgba(237,232,225,0.85) 0%, rgba(237,232,225,0.50) 30%, rgba(237,232,225,0.5) 55%, rgba(248,243,235,0) 95%); */
    }
    .cardSettingsTitleBlock {
        display: flex;
        padding: 8px 16px 8px 16px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 0px 0px 0px 0px;
        width: 33.33%;
    }
    .cardSettingsBtnBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 66.55%;
    }

    /* .btnVisOn {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-right: 0.5px solid #000;
        border-bottom: 1.5px solid #000;
        border-left: 0.5px solid #000;
        background: #FFF;
        width: 100%;
        height: 16px;
    } */
    .btnVisOff {
        display: flex;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 0px 0px 0px 0px;
        width: 100%;
    }

    .btnVisOff.all {
        border-right: 0px;
    }
    .clickWord:hover, .clickRoot:hover, .clickMeaning:hover {
        cursor: pointer;
        /* background-color: #eef5f5; */
    }

    .rowVerseNav {
        display: flex;
        padding: 10px 26px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border: 1px solid #3a3a3a;
    }

    .rowNavHeader {
        display: flex;
        padding: 24px 0px;
        padding-right: 7px;
        gap: 24px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border: 1px solid #3a3a3a;
        border-top: 0;
    }

    .logoContainer {
        display: flex;
        padding: 12px 0px 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        flex: 0 0 0;
    }

    .dropdownSurahContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-left: 1px solid #3a3a3a;
        border-right: 1px solid #3a3a3a;
        background: #252525;
    }

    .btnDarkMode {
        border: 1px solid #35383e;
    }

    .btnDarkMode:hover {
        border: 1px solid #35383e;
    }

    /* Card Settings Frame and Blocks */

    .cardSettingsFrame {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 32px;
        width: 100%;
    }

    .cardSettingsTitleBlock {
        display: flex;
        padding: 3px 0px 5px 0px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 0px 0px 0px 0px;
        border-left: 0px;
        width: 27.5%;
    }
        
    .cardSettingsBtnBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30px;
        width: 72.5%
    }
    
    span.cardSettingsTitle {
        font-family: "REM";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    span.cardButtonTitle {
        padding: 4px 0px 5px 0px;
        font-family: "REM";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    /* mobile hover styles */

    .clickWord:hover, .clickRoot:hover, .clickMeaning:hover {
        cursor: pointer;
        /* background-color: #eef5f5; */
        background-color: #252525;
    }

    .clickWordHidden:hover, .clickRootHidden:hover, .clickMeaningHidden:hover {
        background-color:  #2a2828; /* Added this line */
    }

  }